<main class="candidate-list">
    <h2>Candidate list</h2>
    {{#if candidates.length}}
        {{#each candidates}}
            <div class="candidate">
                <div class="box">
                    <p class="label">Name:</p>
                    <p class="name">{{name}}</p>
                </div>
                <div class="box">
                    <p class="label">Email:</p>
                    <p class="name">{{email}}</p>
                </div>
                <div class="box">
                    <a href="{{pathCvFile}}/{{cv}}" class="btn btn-green">
                        Ver CV
                    </a>
                </div>
            </div>
        {{/each}}
    {{else }}
        <p>No candidates yet</p>
    {{/if}}
</main>